# Caedus-Covid Notebook

## Model Parameters

The following constants were obtained from the spreadsheet
`MVP Physical Capacity Model`

In [28]:
import pandas as pd
import numpy as np

In [29]:
## Total Hospital Beds
TOTAL_BEDS = 83371

## Total ICU Beds
TOTAL_ICU_BEDS = 10392

## Number of Med-Techs
MED_TECHS = 0

## Number of Nurses
NURSES = 0

## Number of Physicians
PHYSICIANS = 12254

## Number of Respiratory Therapists
R_THERAPISTS = 0


## Parameters from spreadsheet

## Bed Occupancy Rate
BED_OCC_RT_LB = 0.2
BED_OCC_RT_MEAN = 0.25

BED_OCC_RT_UB = 0.35

## ICU Bed Occupancy Rate
ICU_BED_OCC_RT_LB = 0.3
ICU_BED_OCC_RT_MEAN = 0.3
ICU_BED_OCC_RT_UB = 0.3

## Hospitalization Rate
HOSP_RT_LB = 0.21
HOSP_RT_MEAN = 0.26
HOSP_RT_UB = 0.31

## ICU admissions
ICU_ADM_LB = 0.05
ICU_ADM_MEAN = 0.085
ICU_ADM_UB = 0.12

## ICU vent rate
ICU_VENT_RT_LB = 0.16
ICU_VENT_RT_MEAN = 0.46
ICU_VENT_RT_UB = 0.7

## Infection rate of healthcare workers

## Vent occupancy rate

## Number of vents per ICU bed
NUM_VENTS_PER_ICU_BED_LB = 1.5
NUM_VENTS_PER_ICU_BED_MEAN = 1.5
NUM_VENTS_PER_ICU_BED_UB = 1.5

## Available Personnel
AVAIL_PERSONNEL_LB = 0.357
AVAIL_PERSONNEL_MEAN = 0.357
AVAIL_PERSONNEL_UB = 0.357

## Number of Patients per vent
PATIENTS_PER_VENT_LB = 1.0
PATIENTS_PER_VENT_MEAN = 1.0
PATIENTS_PER_VENT_UB = 1.0

## ICU Patients per Physician
ICU_PATIENTS_PER_PHYSICIAN = 15

## Non-ICU Patients per Physician
NON_ICU_PATIENTS_PER_PHYSICIAN = 25

## ICU Patients per Nurse

## Non-ICU Patients per Nurse

## ICU Patients per Med-Tech

## Non-ICU Patients per Med-Tech

## ICU Patients per Resp Therapist

## Non-ICU Patients per Resp Therapist

In [13]:

seir_output_df = pd.read_csv('tx_seir_output_Thu_Apr__2_11_05_47_2020.csv')

In [14]:

seir_output_df['Date']=pd.to_datetime(seir_output_df['Date'])
seir_output_df.dtypes

Date                  datetime64[ns]
Cases_Mean                     int64
Cases_LB                       int64
Cases_UB                       int64
Deaths_Mean                    int64
                           ...
Zavala_Cases_LB                int64
Zavala_Cases_UB                int64
Zavala_Deaths_Mean             int64
Zavala_Deaths_LB               int64
Zavala_Deaths_UB               int64
Length: 1531, dtype: object

In [15]:
seir_output_df.head()

,Date,Cases_Mean,Cases_LB,Cases_UB,Deaths_Mean,Deaths_LB,Deaths_UB,Anderson_Cases_Mean,Anderson_Cases_LB,Anderson_Cases_UB,...,Zapata_Cases_UB,Zapata_Deaths_Mean,Zapata_Deaths_LB,Zapata_Deaths_UB,Zavala_Cases_Mean,Zavala_Cases_LB,Zavala_Cases_UB,Zavala_Deaths_Mean,Zavala_Deaths_LB,Zavala_Deaths_UB
0,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df = seir_output_df.iloc[:,:7]

In [17]:
df.head(10)

,Date,Cases_Mean,Cases_LB,Cases_UB,Deaths_Mean,Deaths_LB,Deaths_UB
0,2020-01-22,0,0,0,0,0,0
1,2020-01-23,0,0,0,0,0,0
2,2020-01-24,0,0,0,0,0,0
3,2020-01-25,0,0,0,0,0,0
4,2020-01-26,0,0,0,0,0,0
5,2020-01-27,0,0,0,0,0,0
6,2020-01-28,0,0,0,0,0,0
7,2020-01-29,0,0,0,0,0,0
8,2020-01-30,0,0,0,0,0,0
9,2020-01-31,0,0,0,0,0,0

In [18]:
df.iloc[69]

Date           2020-03-31 00:00:00
Cases_Mean                    4302
Cases_LB                      1619
Cases_UB                      8546
Deaths_Mean                     58
Deaths_LB                       50
Deaths_UB                       65
Name: 69, dtype: object

In [32]:
df['hospitalized_best']=df['Cases_Mean']*HOSP_RT_LB
df['hospitalized_mean']=df['Cases_Mean']*HOSP_RT_MEAN
df['hospitalized_worst']=df['Cases_Mean']*HOSP_RT_UB

df['ICU_best']=df['Cases_Mean']*ICU_ADM_LB
df['ICU_mean']=df['Cases_Mean']*ICU_ADM_MEAN
df['ICU_worst']=df['Cases_Mean']*ICU_ADM_UB

df['total_beds']= (1.0-BED_OCC_RT_MEAN)*TOTAL_BEDS
df['regular_bed_supply_best'] = df['total_beds'] - df['hospitalized_best']
df['regular_bed_supply_mean'] = df['total_beds'] - df['hospitalized_mean']
df['regular_bed_supply_worst'] = df['total_beds'] - df['hospitalized_worst']

df['total_ICU_beds'] = (1.0-ICU_BED_OCC_RT_MEAN)*TOTAL_ICU_BEDS
df['ICU_bed_supply_best']= df['total_ICU_beds']-df['ICU_best']
df['ICU_bed_supply_mean']= df['total_ICU_beds']-df['ICU_mean']
df['ICU_bed_supply_worst']= df['total_ICU_beds']-df['ICU_worst']

df['patient_vent_lb']= ICU_VENT_RT_LB*df['ICU_mean']
df['patient_vent_mean']= ICU_VENT_RT_MEAN*df['ICU_mean']
df['patient_vent_ub']= ICU_VENT_RT_UB*df['ICU_mean']
df['total_vents']=NUM_VENTS_PER_ICU_BED_MEAN * TOTAL_ICU_BEDS * PATIENTS_PER_VENT_MEAN

df['open_vents_lb'] = df['total_vents'] - df['patient_vent_lb']
df['open_vents_mean'] = df['total_vents'] - df['patient_vent_mean']
df['open_vents_ub'] = df['total_vents'] - df['patient_vent_ub']

df['med_tech'] = MED_TECHS
df['med_tech_active'] = None
df['med_tech_supply'] = None
df['med_tech_demand'] = None

df['nurse'] = NURSES
df['nurse_active'] = None
df['nurse_supply'] = None
df['nurse_demand'] = None

df['phys'] = PHYSICIANS
df['phys_active'] = df['phys'] * AVAIL_PERSONNEL_MEAN
df['phys_supply'] = None
df['phys_demand'] = np.ceil((1/ICU_PATIENTS_PER_PHYSICIAN*df['ICU_mean']) + 
                            (1/NON_ICU_PATIENTS_PER_PHYSICIAN *
                             (df['hospitalized_mean']-df['ICU_mean'])))

df['resp'] = R_THERAPISTS
df['resp_active'] = None
df['resp_supply'] = None
df['resp_demand'] = None

In [33]:
##  Validate against Kyle's computations

df.iloc[69]

Date                        2020-03-31 00:00:00
Cases_Mean                                 4302
Cases_LB                                   1619
Cases_UB                                   8546
Deaths_Mean                                  58
Deaths_LB                                    50
Deaths_UB                                    65
hospitalized_best                        903.42
hospitalized_mean                       1118.52
hospitalized_worst                      1333.62
ICU_best                                  215.1
ICU_mean                                 365.67
ICU_worst                                516.24
total_beds                              62528.2
regular_bed_supply_best                 61624.8
regular_bed_supply_mean                 61409.7
regular_bed_supply_worst                61194.6
total_ICU_beds                           7274.4
ICU_bed_supply_best                      7059.3
ICU_bed_supply_mean                     6908.73
ICU_bed_supply_worst                    6758.16
patient_vent_lb                         58.5072
patient_vent_mean                       168.208
patient_vent_ub                         255.969
total_vents                               15588
open_vents_lb                           15529.5
open_vents_mean                         15419.8
open_vents_ub                             15332
med_tech                                      0
med_tech_active                            None
med_tech_supply                            None
med_tech_demand                            None
nurse                                         0
nurse_active                               None
nurse_supply                               None
nurse_demand                               None
phys                                      12254
phys_active                             4374.68
phys_supply                                None
phys_demand                                  55
resp                                          0
resp_active                                None
resp_supply                                None
resp_demand                                None
Name: 69, dtype: object